{% extends 'mactip/base.html' %}
{% load static %}
{% block content %}
    <div class="infinite-container">
        <div class="row infinite-item">
            {% for app in apps %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="white-box">
                        <div class="product-img">
                            <a href="{% url 'app_detail' slug=app.slug %}"><img src="http://isharetip.com:8080/upload/w_75,h_75,q_100/{{ app.icon }}"
                                 style="margin-bottom: 30px;"></a>
                            <div class="pro-img-overlay"><a href="javascript:void(0)" class="bg-info"><i
                                    class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="bg-danger"><i
                                    class="ti-trash"></i></a></div>
                        </div>
                        <div class="product-text">
                            {% if app.price %}
                                <span class="pro-price bg-danger">{{ app.price }}</span>
                            {% endif %}
                            <a href="{% url 'app_detail' slug=app.slug %}">
                                <h3 class="box-title m-b-0">{{ app.name | truncatechars:25 }}</h3></a>
                            <small class="text-muted db">{{ app.date_upload|date }}</small>
                            <br>
                            <a href="#" style="margin-left: -5px;"><small class="label label-info m-l-5">{{ app.category.0 }}</small></a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="loading" style="display: none;">
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>

    {% if apps.has_next %}
        <a class="infinite-more-link" href="?page={{ apps.next_page_number }}"></a>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}