#page-wrapper > div > p > img {
    width: 100% !important;
    height: auto !important;
}

#page-wrapper > div > figure > img {
    width: 100% !important;
    height: auto !important;
}

#wrapper div#page-wrapper div.container-fluid div div.panel.panel-default div div.panel-body p img {
    width: 100% !important;
    height: auto !important;
}

div#wrapper div#page-wrapper div div.post div.thumbnail img {
    background: white !important;
    /*border-radius: 5px 5px 0px 0px;*/
}

div.thumbnail {
    height: 260px;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
}

div#wrapper div#page-wrapper div div.post:hover {
    box-shadow: 0px 12px 25px #0d0e09;
}

div#wrapper div#page-wrapper div div div.post div h3 {
    height: 90px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

html body.fix-header div#wrapper div#page-wrapper div.container-fluid div p {
    font-size: 16px;
}

html body.fix-header div#wrapper div#page-wrapper div.container-fluid h2 {
    font-weight: 500;
}

html body.fix-header div#wrapper div#page-wrapper div.container-fluid div div.panel.panel-default div.panel-heading span {
    font-weight: 300;
    font-size: 12px;
}

html body.fix-header div#wrapper div#page-wrapper div.container-fluid div div.panel.panel-default div.panel-heading h3 {
    font-weight: 600;
}

html body.fix-header div#wrapper div#page-wrapper div.container-fluid div div.panel.panel-default div.panel-wrapper.collapse.in div.panel-footer {
    background: white;
}

.post-detail-content {
    padding: 0;
}

.typeahead.form-control.tt-hint {
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.901961);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
    width: 300px;
}

.app-search a {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #4c5667;
    z-index: 1000;
}

div.panel-body img {
    width: 100% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.url-to-detail:hover {
    color: rgb(136, 255, 205);
}